/node_modules
/public/hot
/public/storage
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/storage/api-docs
/storage/app
/storage/framework
/storage/logs
/.vscode
.git
/ssh
.idea/workspace.xml
/.idea/*.*
wp-config.php
./wp-config.php
/wp-content/uploads
./wp-content/uploads